<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kernel</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/Lilu</string>
				<key>BundlePath</key>
				<string>Lilu.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VirtualSMC</string>
				<key>BundlePath</key>
				<string>VirtualSMC.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/IntelBluetoothFirmware</string>
				<key>BundlePath</key>
				<string>IntelBluetoothFirmware.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string></string>
				<key>BundlePath</key>
				<string>IntelBluetoothInjector.kext</string>
			</dict>
			<dict>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/WhateverGreen</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>Video card</string>
				<key>BundlePath</key>
				<string>WhateverGreen.kext</string>
			</dict>
			<dict>
				<key>ExecutablePath</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>AGPM</string>
				<key>BundlePath</key>
				<string>AGPMInjector.kext</string>
			</dict>
			<dict>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AppleALC</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>Sound</string>
				<key>BundlePath</key>
				<string>AppleALC.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SmallTreeIntel82576</string>
				<key>BundlePath</key>
				<string>SmallTree-Intel-211-AT-PCIe-GBE.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string></string>
				<key>BundlePath</key>
				<string>USBPorts-x399ZenithAlpha.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/NVMeFix</string>
				<key>BundlePath</key>
				<string>NVMeFix.kext</string>
			</dict>
		</array>
		<key>Block</key>
		<array>
			<dict>
				<key>MinKernel</key>
				<string></string>
				<key>Identifier</key>
				<string>com.apple.driver.AppleTyMCEDriver</string>
				<key>Enabled</key>
				<false/>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
			</dict>
		</array>
		<key>Patch</key>
		<array>
			<dict>
				<key>Replace</key>
				<data>w0iJ5UFXQVZBVUFUU0iD7EhJifVJifw=</data>
				<key>Find</key>
				<data>VUiJ5UFXQVZBVUFUU0iD7EhJifVJifw=</data>
				<key>Skip</key>
				<integer>0</integer>
				<key>Comment</key>
				<string>RTC patch for good sleep</string>
				<key>Mask</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Count</key>
				<integer>1</integer>
				<key>Limit</key>
				<integer>0</integer>
				<key>Base</key>
				<string></string>
				<key>Identifier</key>
				<string>com.apple.driver.AppleRTC</string>
			</dict>
			<dict>
				<key>Replace</key>
				<data>BQAAsAE=</data>
				<key>Find</key>
				<data>BQAAhMA=</data>
				<key>Skip</key>
				<integer>0</integer>
				<key>Comment</key>
				<string>AppleIntelPowerManagement</string>
				<key>Mask</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Count</key>
				<integer>1</integer>
				<key>Limit</key>
				<integer>0</integer>
				<key>Base</key>
				<string></string>
				<key>Identifier</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string>19.99.99</string>
				<key>Mask</key>
				<data></data>
				<key>Base</key>
				<string></string>
				<key>Skip</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>Dx+AAAAAAA==</data>
			
	</dict>
</dict>
</plist>